<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Dados</title>
</head>

<body>
    <div class="container">
        <div class="col-8 offset-2">
            {{#erros}}
            <div class="alert alert-danger" role="alert">
                {{this}}
            </div>
            {{/erros}}

            <h3>Dados do Agendamento</h3>
            <h4>Dados Pessoais</h4>
            <ul class="list-group">
                <li class="list-group-item">Nome: {{dadosPessoais.nome}}</li>
                <li class="list-group-item">CPF: {{dadosPessoais.cpf}}</li>
                <li class="list-group-item">Data de Nascimento: {{dadosPessoais.data_nascimento}}</li>
                <li class="list-group-item">Endereço: {{dadosPessoais.endereco}}</li>
                <li class="list-group-item">UF: {{dadosPessoais.uf}}</li>
                <li class="list-group-item">CEP: {{dadosPessoais.cep}}</li>
                <li class="list-group-item">E-mail: {{dadosPessoais.email}}</li>
                <li class="list-group-item">Telefone: {{dadosPessoais.telefone}}</li>
            </ul>

            <h4>Dados da Consulta</h4>
            <ul class="list-group">
                <li class="list-group-item">Especialidade Médica: {{dadosConsulta.especialidade}}</li>
                <li class="list-group-item">Data da Consulta: {{dadosConsulta.data_consulta}}</li>
                <li class="list-group-item">Hora da Consulta: {{dadosConsulta.hora_consulta}}</li>
                <li class="list-group-item">Medicamentos Alergicos: {{dadosConsulta.medicamentos_alergicos}}</li>
                <li class="list-group-item">Informações Adicionais: {{dadosConsulta.informacoes_adicionais}}</li>
            </ul>
        </div>
    </div>
</body>

</html>